//- Show a section of the character sheet, wrapped in a frame, with a given title
mixin section(title)
  section.noctis-section
    if title
      h3.noctis-section-title= title
    if block
      .noctis-section-body
        block

mixin box_default(label, help)
  .column.centered.noctis-box
    .cell.noctis-box-title
      p= label
    .cell.centered
      if block
        block
    .cell.centered
      p= help

mixin box_value(label, attr_name)
  +box_default(label, "Value")
    input(type="number" name=`attr_${attr_name}` value="0")
    if block
      block

//- Show two framed boxes of current and maximum values, e.g. HP
mixin box_current_max(label, attr_name)
  .column.noctis-box
    .cell.noctis-box-title
      p= label
    .cell.centered
      .row.centered
        .column.centered
          .cell.centered
            input(type="number" name=`attr_${attr_name}` value="0")
          .cell.centered
            p Current
        .column.centered
          .cell.centered
            input(type="number" name=`attr_${attr_name}_max` value="0")
          .cell.centered
            p Max
