//- Usage: &{template:check} {{name=Attune}} {{diff=[[0]]}} {{roll=[[1d20]]}} {{message=[[0]]}}

mixin outcome(label, text)
  p
    span.sheet-rolltemplate-outcome-label= label
    span.sheet-rolltemplate-outcome-text= text


rolltemplate.sheet-rolltemplate-check
  .sheet-rolltemplate-header
    h3= "{{name}}"
  .sheet-rolltemplate-outcome
    +outcome("Difficulty", "{{computed::diff}}")
    +outcome("Roll", "{{computed::roll}}")
    +outcome("Outcome", "{{computed::message}}")

//- Usage: &{template:save} {{name=Attune}} {{roll=[[1d20]]}}

rolltemplate.sheet-rolltemplate-save
  .sheet-rolltemplate-header
    h3= "{{name}}"
  .sheet-rolltemplate-outcome
    p= "You roll: {{roll}}"
    //- TODO: effect, once we get custom roll parsing

//- Usage: &{template:soak} {{name=Physical}} {{roll=[[1d6]]}}

rolltemplate.sheet-rolltemplate-soak
  .sheet-rolltemplate-header
    h3= "{{name}}"
  .sheet-rolltemplate-outcome
    p= "You roll: {{roll}}"
    //- TODO: effect, once we get custom roll parsing

//- TODO: attacks