include bulma_form

- var roll_syntax = "d20>?{Difficulty|15}"
- var skill_roll_syntax = `/roll @{skillrank}${roll_syntax}`
- var default_roll_syntax = `/roll 1${roll_syntax}`

mixin skillname(attr)
  .field
    .control
      input.input.is-expanded(type="text" name=attr placeholder="Skill name" list="skillnames")&attributes(attributes)

mixin skillrank(attr)
  .field
    .control
      input.input.boxed-value(type="number" name=attr placeholder="Skill rank" min="1" max="5")&attributes(attributes)

fieldset.repeating_skills    
  .columns
    .column
      +skillname("attr_skillname")
    .column.is-narrow
      +skillrank("attr_skillrank")
    .column.is-narrow
      button.sheet-blank-button(type="action" name="act_skill")
        
.columns
  .column
    +skillname("default_skillname")(value="All Others" disabled=true)
  .column.is-narrow
    button.sheet-blank-button(type="action" name="act_skilldefault")